kahuola_n8n_workflow.json
{
  "name": "Kahu Ola Auto Poster - Hawaiian Voice",
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "node-2",
      "name": "HTTP Request NWS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.weather.gov/alerts/active?area=HI",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "KahuOla/4.8 (kahuola.org; contact@kahuola.org)"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-3",
      "name": "HTTP Request Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://kahuola.org/api/health",
        "options": {
          "timeout": 8000
        }
      }
    },
    {
      "id": "node-4",
      "name": "Code: Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const nwsData = $(\"HTTP Request NWS\").first().json;\nconst healthData = $(\"HTTP Request Health\").first().json;\n\nconst alerts = nwsData?.features?.slice(0, 3)?.map(f => ({\n  event: f.properties?.event,\n  headline: f.properties?.headline,\n  severity: f.properties?.severity,\n  areas: f.properties?.areaDesc\n})) || [];\n\nconst healthStatus = healthData?.status || \"monitoring\";\nconst activeHazards = healthData?.active_hazards || [];\n\nconst context = alerts.length > 0\n  ? `Active NWS alerts (${alerts.length}): ${alerts.map(a => `${a.event} — ${a.areas}`).join(\" | \")}`\n  : `No active NWS alerts. System status: ${healthStatus}.`;\n\nconst hazardContext = activeHazards.length > 0\n  ? `Kahu Ola detecting: ${activeHazards.join(\", \")}`\n  : \"Kahu Ola: routine monitoring, no active hazard signals.\";\n\nreturn [{\n  json: {\n    context: `${context} ${hazardContext}`,\n    alert_count: alerts.length,\n    timestamp: new Date().toLocaleString(\"en-US\", { timeZone: \"Pacific/Honolulu\" })\n  }\n}];"
      }
    },
    {
      "id": "node-5",
      "name": "Kahu Ola Brief (Gemma 4)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kahuola.org/api/brief",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.MEDIA_BRIEF_WEBHOOK_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"context\": \"Current hazard conditions for Hawaiʻi as of \" + $json.timestamp + \":\\n\" + $json.context, \"lang\": \"en\", \"max_chars\": 280 } }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "node-6",
      "name": "Code: Extract AI text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst post = (response?.post || \"\").trim();\nconst isFallback = response?.is_fallback === true;\n\nif (!post || post.length > 300 || !post.toLowerCase().includes(\"kahuola.org\")) {\n  return [{\n    json: {\n      post: \"Aloha mai kākou. Kahu Ola is monitoring hazard conditions across Hawaiʻi. Stay informed — kahuola.org 🌺\",\n      is_fallback: true,\n      model: \"template_fallback\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    post,\n    is_fallback: isFallback,\n    model: response?.model || \"@cf/google/gemma-4-26b-a4b-it\"\n  }\n}];"
      }
    },
    {
      "id": "node-7",
      "name": "Telegram: Send Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "chatId": "6631407344",
        "text": "={{ \"━━━━━━━━━━━━━━━━━━━━━━\\n📋 KAHU OLA DAILY POST PREVIEW\\n━━━━━━━━━━━━━━━━━━━━━━\\n\" + $json.post + \"\\n━━━━━━━━━━━━━━━━━━━━━━\\n⏰ \" + $now + \"\\n\" + ($json.is_fallback ? \"⚠️ FALLBACK (AI error)\" : \"✅ AI generated\") + \"\\n\\nReply APPROVE or REJECT within 30 minutes.\" }}",
        "additionalFields": {
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✅ Approve & Post",
                      "additionalFields": {
                        "callback_data": "approve"
                      }
                    },
                    {
                      "text": "❌ Reject",
                      "additionalFields": {
                        "callback_data": "reject"
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      }
    },
    {
      "id": "node-8",
      "name": "Wait for approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "resume": "webhook",
        "webhookPath": "kahuola-approve",
        "options": {
          "timeout": true,
          "timeoutAmount": 30,
          "timeoutUnit": "minutes"
        }
      }
    },
    {
      "id": "node-9",
      "name": "IF Check approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body ? $json.body.callback_data : \"\" }}",
              "operation": "equal",
              "value2": "approve"
            }
          ]
        }
      }
    },
    {
      "id": "node-10a",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/1049357994926463/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.FB_PAGE_TOKEN }}"
            },
            {
              "name": "message",
              "value": "={{ $(\"Code: Extract AI text\").item.json.post }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-10b",
      "name": "Telegram: Confirmed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2000,
        -100
      ],
      "parameters": {
        "chatId": "6631407344",
        "text": "={{ \"✅ Posted to Facebook!\\nPost ID: \" + ($json.id || \"Unknown\") + \"\\nContent: \" + $(\"Code: Extract AI text\").item.json.post + \"\\nView: https://facebook.com/kahuola\" }}"
      }
    },
    {
      "id": "node-11",
      "name": "Telegram: Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1800,
        100
      ],
      "parameters": {
        "chatId": "6631407344",
        "text": "❌ Post rejected or timed out. No action taken."
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request NWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request NWS": {
      "main": [
        [
          {
            "node": "HTTP Request Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Health": {
      "main": [
        [
          {
            "node": "Code: Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Context": {
      "main": [
        [
          {
            "node": "Kahu Ola Brief (Gemma 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract AI text": {
      "main": [
        [
          {
            "node": "Telegram: Send Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Send Preview": {
      "main": [
        [
          {
            "node": "Wait for approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for approval": {
      "main": [
        [
          {
            "node": "IF Check approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Check approval": {
      "main": [
        [
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post": {
      "main": [
        [
          {
            "node": "Telegram: Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kahu Ola Brief (Gemma 4)": {
      "main": [
        [
          {
            "node": "Code: Extract AI text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}